@media screen and (max-width: 768px){


  /*Navbar*/
  [aria-controls="navbarDropdown"] {
    display:block;
  }

  [aria-expanded="false"] ~ .nav .navbar-nav-wrapper {
    display: none;
  }

  [aria-expanded="true"] ~ .nav {
    background-color: var(--white);
    position: absolute;
    top: 0;
    padding-top: var(--size-10);
    height: var(--size-60);
  }

  [aria-expanded="true"] ~ .nav .navbar-nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: var(--size-60);
    height: var(--size-150);
    background-color: var(--white);
    width: 100%;
  }

  [aria-expanded="true"] ~ .nav .navbar-nav-wrapper .navbar-nav {width: 100%;}
  [aria-expanded="true"] ~ .nav .navbar-nav-wrapper #buy {width: fit-content;}


  /*Section 1*/
  .background .container {
    flex-direction: column;
    align-items: center;
  }

  .header-icons {
    width: 100%;
    margin: var(--size-40) 0;
  }  


  /*Benefits Section*/
  .benefits {grid-template-columns: repeat(2, 1fr)}
  .prospective-text a {margin: 0;}


  /*Prospective Section*/
  .prospective {
    flex-direction: column;
    text-align: center;
  }


  /*Director Highlight Section*/
  .director-highlight {
    flex-direction: column;
    text-align: center;
  }

  .director-image {margin-bottom: var(--size-100);}
  .quote {padding: var(--size-50);}


  /*Companies Section*/
  .company-logos img {width: var(--size-100);}


  /*Pricing*/
  .pricing {flex-direction: column;}
  .price {justify-content: center;}

  .benefit-card,
  #credit {
    text-align: center;
  }


  /*Survey*/
  .survey {flex-direction: column;}
  
  .interest {
    display: flex;
    padding-top: var(--size-40);
  }

  .hire-us-wrapper {
    flex: 1;
    padding-right: var(--size-60);
  }

  .people {flex: 0.5;}
  .headshots,
  .hire-us,
  .hire-us-wrapper > p {width: 100%;}


  /*Footer*/
  .links-wrapper {
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
  }
}


@media screen and (max-width: 480px) {


  /*Navbar*/
  [aria-expanded="false"] ~ .nav .navbar-nav-wrapper {display: none;}
  [aria-expanded="true"] ~ .nav .navbar-nav-wrapper {height: 18.75rem;}
  [aria-expanded="true"] ~ .nav .navbar-nav {flex-direction: column;}


  /*Benefits Section*/
  .benefits {grid-template-columns: 1fr;}
  .benefit-card {text-align: left;}


  /*Why Section*/
  .reasons-wrapper {flex-direction: column;}

  .reason {
    display: flex;
    align-items: center;
  }

  .circle-outer { margin: 0 var(--size-20);}


  /*Companies Section*/
  .company-logos {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 18.75rem;
  }


  /*Pricing*/
  .price-benefits-wrapper {grid-template-columns: 1fr;}
  .pricing .benefit-card {text-align: center;}


  /*Survey*/
  .interest {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--size-30);
  }

  .hire-us-wrapper {padding: 0;}
  .general-info {grid-template-columns: 1fr;}


  /*Footer*/
  footer {text-align: center;}

  .footer-top {
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--size-20);
  }

  .links-wrapper {grid-template-columns: 1fr;}
  .legal-social-wrapper,
  .socials-wrapper {
    flex-direction: column;
  }

  .legal-social-wrapper {align-items: center;}
  .legal-links {margin-bottom: var(--size-50);}
  .socials-wrapper {width: 50%;}
  .socials {width: 100%;}
  .country {width: fit-content;}
  .spacing {margin-bottom: var(--size-30);}
}